[Unit]
Description=ORM Event Delegate Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/node /opt/OpenResourceManager/EventDelegateServer/EventDelegateServer.js | /usr/bin/tee /var/log/orm/EventDelegateServer/run.log
WorkingDirectory=/opt/OpenResourceManager/EventDelegateServer
PIDFile=/var/run/event-delegate-server.pid
Restart=always
RestartSec=2
Environment=NODE_ENV=production
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
Alias=eventDelegateServer.service