[Unit]
Description=ORM Event Delegate Server
After=multi-user.target
After=network.target
After=syslog.target

[Service]
Type=simple
Environment=NODE_ENV=production
ExecStart=/bin/bash -c 'exec /opt/OpenResourceManager/EventDelegateServer/event-delegate-server > >(/usr/bin/tee -a /var/log/orm/EventDelegateServer/run.log) 2> >(/usr/bin/tee -a /var/log/orm/EventDelegateServer/error.log >&2)'
PIDFile=/var/run/event-delegate-server.pid
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=event-delegate-server
WorkingDirectory=/opt/OpenResourceManager/EventDelegateServer/

[Install]
WantedBy=multi-user.target